@import 'src/scss/variables.scss';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.header {
  position: relative;
  z-index: 5;
}

.main {
  flex: 1 1 auto;
  background-color: $background;
}