$default: rgba(0, 0, 0, 0.96);
$black: rgba(0, 0, 0, 0.6);
$gray: rgba(0, 0, 0, 0.38);
$violet: #5255C8;
$focus: rgba(82, 85, 200, .3);
$background: #F5F5F5;
$input: #FAFAFA;
$white: #ffffff;
$burger: rgba(82, 85, 200, .9);