<ng-container *ngIf="textArea; then templateTextArea else templateInput"></ng-container>

<ng-template #templateInput>
  <div class="input">
      <label 
        *ngIf="placeholder"
        class="input__placeholder" 
        [innerText]="placeholder"
        [class.visible]="placeholderVisible && !value"
      >
      </label>
      <input
        class="input__body"
        [type]="type"
        [disabled]="isDisabled"
        (focus)="onFocus()"
        (blur)="onBlur()"
        (input)="onInput()"
        [mask]="maskData"
        [prefix]="prefixData"
        [showMaskTyped]="typedData"
        [class.error]="hasError"
        [dropSpecialCharacters]="dropSpecialCharacters"
        [(ngModel)]="value"
        [validation]="false"
      >
  </div>
</ng-template>
<ng-template #templateTextArea>
  <div class="input">
    <label 
      *ngIf="placeholder"
      class="input__placeholder input__placeholder_top" 
      [innerText]="placeholder"
      [class.visible]="placeholderVisible && !value"
    >
    </label>
    <textarea
      class="input__body input__body_big"
      [disabled]="isDisabled"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput()"
      [class.error]="hasError"
      [(ngModel)]="value"
    ></textarea>
</div>
</ng-template>